@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: radial-gradient(circle at 30% 50%, #5548a5, #3a0066, #000000);
}
